html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    background:transparent none repeat scroll 0 0;
    border:0 none;
    font-size:100%;
    margin:0;
    padding:0;
    vertical-align:baseline;
}

div.container {
    width: 960px;
    margin:0 auto;
    text-align:left;
}


div#userbar {
    float: right;
    background: #EEEEEE;
    height: 30px;
    line-height: 22px;
    padding: 3px 10px 0;
}

div

div#notice {
    padding-top: 5px;
    margin-top: 5px;
    width: 300px;
    display: block;
    font-style: italic;
    font-size: 80%;
}

/* to have some space between entities in the userbar */
div#userbar ul li {
    display: inline;
    text-align: right;
    margin: 0 5px;
}

/* 
 * Ask question -button 
 */
div#navbar {
    float: none;    
    padding: 70px 0 70px 5px;
    font-size: 125%;
}

div.ask_question a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}


div.ask_question a {
    color: white;
    display: block;
    font-weight: bold;
    padding: 6px 12px;
}

/* button blue when at ?ask_question */
div.ask_question li#ask_question_active a {
    background: blue !important;
}

div.ask_question li {
    float: right;
    background: gray;
}

div.ask_question li:hover {
    background: blue;
    color: white;
}

div.ask_question li {
    list-style-type: none;
}

div.ask_question li#ask_question a:hover {
    background: blue;
    text-decoration: none;
}

div.ask_question li#ask_question a:visited {
    font-color: white;
}

/* to clear float */
div#mainbar {
    clear: both;
}

/* unsuccessfull registration, login */
div.unsuccessful {
    color: red;
    font-size: 1.2em;
    font-weight: bold;
    clear: both;
}

div.successful {
    clear: both;
    color: green;
    font-size: 1.2em;
    font-weight: bold;
}

.question_summary {
    border-bottom:1px dotted #999999;
    float:left;
    overflow:hidden;
    padding:11px 0;
    width:730px;
}

.question_hyperlink {
    font-weight: bold;
    text-decoration: none;
    color: #0080DD;
}
.question_hyperlink:visited {
    color: #4A6B82;
}
.question_hyperlink:hover {
    text-decoration: underline;
}



div.question_summary:hover {
    background:#FFEFC6;
}

div.answer {
    border-bottom:1px solid #AAAAAA;
    padding-bottom:60px;
    padding-top:20px;
    width:730px;
}


div.hsearch,
div.userbar,
div.hlinks {
    float: left;
}

div.userbar,
div.hlinks {
    margin:0 35px 0 0;
}

div.hsearch .textbox {
    background:#FFFFFF url(http://sstatic.net/so/Img/search.png) no-repeat scroll left center;
    border-color:#CCCCCC -moz-use-text-color -moz-use-text-color #CCCCCC;
    border-style:solid none none solid;
    border-width:1px medium medium 1px;
    margin:0;
    max-width:230px;
    padding-left:16px;
}

div.hlinks {
}


/*
 * Tags
 */

div.tags {
    float: left;
    line-height: 18px;
    width: auto;
}

.tags a:hover {
    text-decoration:none;
}

.post_tag:hover {
    background-color:#3E6D8E;
    border-bottom:1px solid #37607D;
    border-right:1px solid #37607D;
    color:#E0EAF1;
    text-decoration:none;
}

.post_tag {
    background-color:#E0EAF1;
    border-bottom:1px solid #3E6D8E;
    border-right:1px solid #7F9FB6;
    color:#3E6D8E;
    font-size:90%;
    line-height:2.2;
    margin:2px 2px 2px 0;
    padding:3px 4px;
    text-decoration: none;
    white-space: nowrap;
}

.tags {
    float: left;
    line-height: 18px;
}




/* 
 * Headers
 */

/* Logo                                             */

div#logo {
    float: left;
    height: 60px;
    width: 250px;
    font-size: 200%;
    padding: 5px 30px;
}

h1#logo a {
    color: black;
    text-decoration: none;
}

h1#logo a:visited {
    color: black;
    text-decoration: none;
}

/* Content headers                                  */

div#mainheader {
    font-size: 150%;
    border-bottom:1px solid #555555;
    font-family:Trebuchet MS,Helvetica,sans-serif;
    margin-bottom:5px;
    width:960px; 
}

div#subheader {
    font-size:140%;
    font-family:Trebuchet MS,Helvetica,sans-serif;
    margin-top:10px;
    margin-bottom:10px;
    width:730px;
    display: block;
    clear: both;
}

div#mainheader a,
div#subheader a,
div#mainheader a:visited,
div#subheader a:visited {
    color: black;
    text-decoration: none;
}

div.header {
    width: 100%;
    clear: both;
    line-height:22px;
}


div#mainbar div#registration_login form {
    float: left;
    display: inline;
    padding-right: 15px;
    width: 300px;
    margin-top: 0px;
}

div#registration_login p {
    float: left;
    display: inline;
    padding-right: 0px;
    width: 100px;
}

div#mainbar label,
div#registration_login label {
    font-weight: bold;
    padding-bottom: 3px;
    display: block;
    color: #333333;
}

div#registration_login input {
    display: block;
}

div#mainbar input {
    border:1px solid #888888;
    font-family:Trebuchet MS,Helvetica,sans-serif;
    font-size:130%;
    font-weight:bold;
    margin:3px;
    padding:2px;
}

div#mainbar input.title {
    width: 729px;
}

div#mainbar input.tags {
    width: 600px;
}

/*
 * Contents
 */


div.answer_body,
div.question_body { 
    width: 660px;
    margin-left: 60px;
}

div#mainbar form {
    margin-top: 20px;
}

div#user_info_box {
    padding: 5px 0;
    white-space:nowrap;
    color:#999999;
    float:right;
    line-height:18px;
    width:185px;
    font-size: 0.70em;
    background-color: #E0EAF1;
    position: relative;
    bottom: 17px;
}

div#one_answer div#user_info_box {
    position: static;
    margin-top: 10px;
}

div#user_info_time {
    margin-bottom:4px;
    margin-top:2px;
    margin-left: 5px;
}

div#user_in_user_box {
    float:left;
    margin-left:5px;
    overflow:hidden;
    white-space:nowrap;
    width:145px;
}

div#user_in_user_box a {
    color: #0080DD;
}

/*
 * Header at the top
 */


div#tabs a {
    border-color:#777777 #777777 #FFFFFF;
    border-style:solid;
    border-width:1px;
    color:black;
    height:41px;
    line-height:41px;
    margin-top:3px;
    padding:0 11px;
    margin: 0 5px;
    border: none; 
    text-decoration: none;
    
}

div#tabs a:hover,
div#tabs a:active {
    background: black !important;
    color: white !important;
}

span#active_button a {
    background: black !important;
    color: white !important;
}


div#mainheader h2,
div#subheader h2 {
    line-height:34px;
    margin-bottom:0;
    font-weight:bold;
    margin-bottom:7px;
    font-family:Trebuchet MS,Helvetica,sans-serif;
    display: inline;
}

div.top_header {
    border-bottom:1px solid #666666;
    clear:both;
    height:34px;
    width: 730px;
}

div.answers {
    width: 730px;
}

div.container_two {
    width: 730px;
}

div.answers h2 {
    text-align: left;
}

div#mainheader h2 {
    float: none;
}

div#tabs, 
div#top_header_main div#tabs {
    display: right;
    font-family:Trebuchet MS,Helvetica,sans-serif;
    font-size:100%;
    float: right;
    margin: 0;
}

div#top_header_main {
    width: 730px;
    float: left;
    display: block;
    line-height: 34px;
    height: 34px;
    margin-bottom: 20px;
}

div.answers div#subheader h2 {
    float: none;
}

div.container_two div#login_box,
div.container_two div#login_box div#subheader h2 {
    float: none;
    clear: both;
}

div#subheader,
div#subheader h2{
    clear: both;
}

div#one_answer {
    display: block;
    float: none;
    clear: both;
    border-bottom:1px solid #AAAAAA;
    padding-bottom:80px;
    padding-top:20px;
    width:730px;
}



div.clear {
    clear: both;
}

.addedtext {
    color: red;
    font-weight: bold;
}


.post_menu {
    padding-top: 10px;
    padding-left: 60px;
}

.post_menu span {
    color:#888888;
}

.post_menu a {
    color:#888888;
    padding:0 3px 2px;
    text-decoration:none;
    font-size: 80%;
    display: inline;
}

.post_menu a:visited {
    color:#4A6B82;
    text-decoration:none;
}

a {
    color:#0077CC;
    cursor:pointer;
}

div#question_content {
    display: block;
    clear: both;
    font-size:107%;
    line-height:130%;
    width:660px;
}

div#user_info_bottom_box {
    display: block;
    clear: both;
    font-size:107%;
    line-height:130%;
    margin-bottom:5px;
    margin-right:5px;
    width:660px;
}

div.user_info_bottom_box div.tags {
    padding-top: 10px;
    margin-top: 10px;
}

div.user_info_bottom_box {
    clear: both;
    display: block;
}

div#tag_list {
    display: block;
    clear: both;
    width: 630px;
    padding-top: 20px;
    padding-left: 60px;
}

div.right_bar {
    float:right;
    overflow:hidden !important;
    width:210px;
    position: absolute;
    top: 225px;
    right: 315px;
    clear: both;
}

div#one_tag_line {
    display: block;
    float: left;
    padding-right: 25px;
    padding-bottom: 2px;
}

span#multiplier {
    color: #444444;
    position: relative;
    top: 7px;
    left: 1px;
    display: inline;
    padding-right: 1px;
    padding-bottom: 2px;
}

.red {
    background: #E3D9D9;
}

#yellow,
.yellow {
    background: #FFEFC6 !important;
}

#flagged_list {
    opacity: 0.5;
}

div.container_two div.question_box {
   padding-bottom: 45px;
}


div#answered {
    background:#75845C none repeat scroll 0 0;
    color:#FFFFFF;
}

div#unanswered {
    background:#9A4444 none repeat scroll 0 0;
    color:#FFFFFF;
}


div#answered,
div#unanswered {
    float:left;
    height:38px;
    margin:0 3px 0 0;
    padding:5px;
    width:48px;
    text-align: center;
    font-size: 70%;
    padding: 5px;
    margin-right: 10px;
}

div#answer_count {
    font-size: 190%;
    font-weight: bold;
    margin-top: -2px;
    padding-top: 0px;
}

#no_underline {
    text-decoration: none;
}

div#subheader div#tabs {
    font-size: 70%;
}

div#user_in_user_box a {
    font-size: 100%;
}

div#answer {
    width: 730px;
}
