html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    background:transparent none repeat scroll 0 0;
    border:0 none;
    font-size:100%;
    margin:0;
    padding:0;
    vertical-align:baseline;
}

div.container {
    width: 960px;
    margin:0 auto;
    text-align:left;
}


div.header {
    width: 100%;
    clear: both;
}

div#userbar {
    float: right;
    background: #EEEEEE;
    height: 30px;
    line-height: 22px;
    padding: 3px 10px 0;
}

div

#notice {
    background: gray;
}

/* to have some space between entities in the userbar */
div#userbar ul li {
    display: inline;
    text-align: right;
    margin: 0 5px;
}

div#logo {
    float: left;
    height: 60px;
    width: 250px;
    font-size: 200%;
    padding: 5px 30px;
}

/* 
 * Ask question -button 
 */
div#navbar {
    float: none;    
    padding: 70px 0 70px 5px;
    font-size: 125%;
}

div.ask_question a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}


div.ask_question a {
    color: white;
    display: block;
    font-weight: bold;
    padding: 6px 12px;
}

/* button blue when at ?ask_question */
div.ask_question li#ask_question_active a {
    background: blue !important;
}

div.ask_question li {
    float: right;
    background: gray;
}

div.ask_question li:hover {
    background: blue;
    color: white;
}

div.ask_question li {
    list-style-type: none;
}

div.ask_question li#ask_question a:hover {
    background: blue;
    text-decoration: none;
}

div.ask_question li#ask_question a:visited {
    font-color: white;
}

/* to clear float */
div#mainbar {
    clear: both;
}

/* unsuccessfull registration, login */
div.unsuccessful {
    color: red;
}

div.successful {
    color: green;
}

.question_summary {
    border-bottom:1px dotted #999999;
    float:left;
    overflow:hidden;
    padding:11px 0;
    width:730px;
}

.post_tag {
    background-color:#E0EAF1;
    border-bottom:1px solid #3E6D8E;
    border-right:1px solid #7F9FB6;
    color:#3E6D8E;
    font-size:90%;
    line-height:2.2;
    margin:2px 2px 2px 0;
    padding:3px 4px;
    text-decoration: none;
    white-space: nowrap;
}

.tags {
    float: left;
    line-height: 18px;
}

.question_hyperlink {
    font-weight: bold;
    text-decoration: none;
    color: blue;
}
.question_hyperlink:visited {
    color: #4A6B82;
}
.question_hyperlink:hover {
    text-decoration: underline;
}

h1#logo a {
    color: black;
    text-decoration: none;
}

h1#logo a:visited {
    color: black;
    text-decoration: none;
}

div.question_summary:hover {
    background:#FFEFC6;
}

div.answer {
    border-bottom:1px solid #AAAAAA;
    padding-bottom:20px;
    padding-top:20px;
    width:730px;
}

div.question_header {
    font-size: 180%;
    margin-bottom: 7px;
    font-weight: bold;
}


div.question_header {
    border-bottom:1px solid #555555;
    font-family:Trebuchet MS,Helvetica,sans-serif;
    margin-bottom:20px;
    width:960px; 
}

div.question_header a {
    color: black;
    text-decoration: none;
}

div.question_header a:visited,
div.question_header a:visited {
    color: black;
    text-decoration: none;
}

div#subheader {
    margin-bottom:10px;
    margin-top:10px;
    width:730px;
    border-bottom:1px solid #666666;
}

div#subheader h2 {
    font-size:170%;
    line-height:34px;
    margin-bottom:0;
}

h2 {
    font-family:Trebuchet MS,Helvetica,sans-serif;
    font-size:140%;
    font-weight:bold;
    margin-bottom:7px;
}

div.hsearch,
div.userbar,
div.hlinks {
    float: left;
}

div.userbar,
div.hlinks {
    margin:0 35px 0 0;
}

div.hsearch .textbox {
    background:#FFFFFF url(http://sstatic.net/so/Img/search.png) no-repeat scroll left center;
    border-color:#CCCCCC -moz-use-text-color -moz-use-text-color #CCCCCC;
    border-style:solid none none solid;
    border-width:1px medium medium 1px;
    margin:0;
    max-width:230px;
    padding-left:16px;
}

.header {
    line-height:22px;
}

div.hlinks {
}
